<app-track-preview
  *ngFor="let track of results"
  [track]="track">
</app-track-preview>

<div class="app-track-preview"
  [hidden]="!loading">
  Loading tracks...
</div>

<div class="app-track-preview"
  [hidden]="loading || results.length">
  No tracks are here... yet.
</div>

<nav [hidden]="loading || totalPages.length <= 1">
  <ul class="pagination">

    <li class="page-item"
      [ngClass]="{'active': pageNumber === currentPage}"
      *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">

      <a class="page-link" >{{ pageNumber }}</a>

    </li>

  </ul>
</nav>
