/* You can add global styles to this file, and also import other style files */
/* @import "~leaflet/dist/leaflet.css";*/
@import "ol/ol.css";

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
#trackMapView { height: 400px; min-width: 480px;}