<h3 class="card-header">Passwort zurücksetzen</h3>
<div class="card-body">
  <div *ngIf="tokenStatus == TokenStatus.Validating">
    Der Zurücksetz-Code wird geprüft...
  </div>
  <div *ngIf="tokenStatus == TokenStatus.Invalid">
    Der Zurücksetz-Code war leider ungültig oder abgelaufen. Bitte lassen Sie sich auf der <a
      routerLink="../forgot-password">"Passwort vergessen"-Seite</a> ein neues geben.
  </div>
  <form *ngIf="tokenStatus == TokenStatus.Valid" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Neues Passwort</label>
      <input type="password" formControlName="password" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Das Passwort ist ein Pflichtfeld.</div>
        <div *ngIf="f.password.errors.minlength">Das Passwort muss mindestens sechs Zeichen lang sein.</div>
      </div>
    </div>
    <div class="form-group">
      <label>Passwort wiederholen</label>
      <input type="password" formControlName="confirmPassword" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">Die Passwort-Wiederholung ist ein Pflichtfeld.</div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">Die beiden Passwörter müssen übereinstimmen.</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Passwort zurücksetzen
      </button>
      <a routerLink="/auth/login" class="btn btn-link">Zurück zum Login</a>
    </div>
  </form>
</div>